RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !^/css/
RewriteCond %{REQUEST_URI} !^/script/

# RewriteRule ^(.+)\.css$ public/asset/css/$1.css [L]
# RewriteRule ^(.+)\.js$ public/asset/script/$1.js [L]
# RewriteRule ^(.+)\.png$ public/image/article/$1.png [L]
# RewriteRule ^(.+)\.jpg$ public/image/article/$1.jpg [L]
# RewriteRule ^(.+)\.jpeg$ public/image/article/$1.jpeg [L]
# RewriteRule ^(.+)\.gif$ public/image/article/$1.gif [L]

RewriteRule ^(.*)$ index.php [QSA,L]
